/* Import Stylesheets */


/*******************************************/

@font-face {
    font-family: 'AvenirNextLTProBold';
    src: url('../fonts/AvenirNextLTProBold.eot');
    src: url('../fonts/AvenirNextLTProBold.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextLTProBold.woff2') format('woff2'),
    url('../fonts/AvenirNextLTProBold.woff') format('woff'),
    url('../fonts/AvenirNextLTProBold.ttf') format('truetype'),
    url('../fonts/AvenirNextLTProBold.svg#AvenirNextLTProBold') format('svg');
}

@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('../fonts/AvenirNextLTProRegular.eot');
    src: url('../fonts/AvenirNextLTProRegular.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextLTProRegular.woff2') format('woff2'),
    url('../fonts/AvenirNextLTProRegular.woff') format('woff'),
    url('../fonts/AvenirNextLTProRegular.ttf') format('truetype'),
    url('../fonts/AvenirNextLTProRegular.svg#AvenirNextLTProRegular') format('svg');
}

@font-face {
    font-family: 'AvenirNextLTProDemi';
    src: url('../fonts/AvenirNextLTProDemi.eot');
    src: url('../fonts/AvenirNextLTProDemi.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextLTProDemi.woff2') format('woff2'),
    url('../fonts/AvenirNextLTProDemi.woff') format('woff'),
    url('../fonts/AvenirNextLTProDemi.ttf') format('truetype'),
    url('../fonts/AvenirNextLTProDemi.svg#AvenirNextLTProDemi') format('svg');
}



@import '_variables';
@import '_mixins';

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: $font-family;
    color: $primary-color;
}
#scalingContainer {
    position: relative;
    width: 620px;
    height: 1380px;
}

#resizer {
    position: relative;
    width: 620px;
    height: 1380px;
    transform-origin: top left;
}

#outer-wrapper {
    margin: 0 auto;
      width: 100%;
max-width: 620px;
}

#container {
    height: 1380px;
    border: 1px solid #b6b6b5;
    box-sizing: border-box;
    position: relative;
    h3 {
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #6e6d6d;
        font-family: 'AvenirNextLTProDemi', arial, sans-serif;
    }
    #step1 {
        position: relative;
        padding: 0 20px;
        .bulb-wrapper {
            display: inline-block;
            vertical-align: top;
            margin: 0 auto;
            width: 153px;
            height: auto;
            padding-left: 40px;
            #svg-bulb {
                .filament,
                .grey,
                .ray {
                    fill: none;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }

                .filament,
                .ray {
                    stroke: #05a7b5;
                }

                .filament {
                    stroke-width: 5.14924px;
                }

                .grey {
                    stroke: #6e6e6d;
                    stroke-width: 4.20217px;
                }

                .ray {
                    stroke-width: 6px;
                    stroke-dashoffset: 36;
                    stroke-dasharray: 66;
                }
            }
        }
        .research-wrapper {
            display: inline-block;
            position: relative;
            vertical-align: top;
            width: 360px;
            padding-left: 20px;
            .text {
                opacity: 0;
                transform: scale(0);
            }
            h4 {
                color: #0ba7b5;
                font-family: 'AvenirNextLTProDemi', arial, sans-serif;
                font-size: 22px;
                line-height: 26px;
                padding: 20px 0 0 0;
                margin: 0;
            }
            p {
                font-family: 'AvenirNextLTProRegular', arial, sans-serif;
                color: #6e6d6d;
                font-size: 16px;
                line-height: 20px;
            }
            .animate {
                position: relative;
                padding-left: 30px;
                .arrow {}
                .bubble {
                    position: absolute;
                    top: 0;
                    left: 80px;
                    margin-top: -35px;
                    .research {
                        background: url('http://hosting.two-uk.com/testing/marc/infographic-test/research-bubble.png') center top;
                        background-size: cover;
                        margin: 30px auto;
                        color: #fff;
                        font-size: 16px;
                        line-height: 20px;
                        position: relative;
                        width: 130px;
                        height: 108px;
                        transform: scale(0);
                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            padding-left: 10px;
                        }
                    }
                }
            }
            #line1 {
                width: 50px;
                height: 105px;
                .st0 {
                    fill: none;
                    stroke: #6E6E6D;
                    stroke-width: 4.858;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                    stroke-dashoffset: 105;
                    stroke-dasharray: 104;
                }
                .st1 {
                    fill: none;
                    stroke: #6E6E6D;
                    stroke-width: 4.3311;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                    stroke-dashoffset: 69;
                    stroke-dasharray: 68;
                }
            }
        }
    }
    #step2 {
        margin-top: 20px;
        .chart {
            position: relative;
            margin: 0 auto;
            width: 580px;
            height: 580px;
            margin: 0 auto;
            background: #f6f6f6;
            opacity: 0;
            .arrows-container {
                position: absolute;
                width: 540px;
                height: 540px;
                padding: 0 0px;
                box-sizing: border-box;
                margin: 20px;
                z-index: 1;
                #arrowsSection {
                    width: 540px;
                    .linehead {
                        fill: none;
                        stroke: #6E6E6D;
                        stroke-width: 4.5899;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-miterlimit: 10;
                        stroke-dashoffset: 55;
                        stroke-dasharray: 54;
                    }
                    .line {
                        fill: none;
                        stroke: #6E6E6D;
                        stroke-width: 4.5899;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-miterlimit: 10;
                        stroke-dashoffset: 355;
                        stroke-dasharray: 354;
                    }
                }
                .arrow-text {
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    z-index: 3;
                    top: 50%;
                    left: 50%;
                    margin-left: -75px;
                    margin-top: -75px;
                    font-family: arial, sans-serif;
                    font-size: 18px;
                    line-height: 24px;
                    color: #0ba7b5;
                    font-weight: bold;
                    text-align: center;
                    background: #fff;
                    box-sizing: border-box;
                    padding-top: 35px;
                    border-radius: 75px;
                    opacity: 0;
                }
                .sections {
                    position: absolute;
                    z-index: 2;
                    width: 380px;
                    height: 380px;
                    top: 50%;
                    left: 50%;
                    margin-left: -190px;
                    margin-top: -190px;
                    .col {
                        display: inline-block;
                        width: 190px;
                        height: 190px;
                        background-size: cover;
                        vertical-align: top;
                        position: relative;
                        color: #fff;
                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 110px;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                    .one {
                        background: url('/images/section-1.png');
                        opacity: 0;
                        span {
                            margin-top: -20px;
                            margin-left: -45px;
                        }
                    }
                    .two {
                        background: url('/images/section-2.png');
                        opacity: 0;
                        span {
                            margin-top: -20px;
                            margin-left: -65px;
                        }
                    }
                    .three {
                        background: url('/images/section-3.png');
                        opacity: 0;
                        span {
                            margin-top: -25px;
                            margin-left: -45px;
                        }
                    }
                    .four {
                        background: url('/images/section-4.png');
                        opacity: 0;
                        span {
                            margin-top: -25px;
                            margin-left: -65px;
                        }
                    }
                }
            }
        }
    }
    #step3 {
        position: relative;
        margin-top: 20px;
        .arrow {
            position: absolute;
        }
        .left {
            left: 30px;
            top: -135px;
            svg {
                width: 105px;
                height: 185px;
                .st0 {
                    fill: none;
                    stroke: #6E6E6D;
                    stroke-width: 4.4884;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                }
                .arrows {
                    stroke-dashoffset: 53;
                    stroke-dasharray: 52;
                }
                .line {
                    stroke-dashoffset: 400;
                    stroke-dasharray: 399;
                }
            }
        }
        .right {
            right: 40px;
            top: 10px;
            svg {
                width: 353px;
                height: 305px;
                .st0 {
                    fill: none;
                    stroke: #6E6E6D;
                    stroke-width: 4.8283;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                }
                .st0.arrows {
                    stroke-dashoffset: 53;
                    stroke-dasharray: 52;
                }

                .st0.line {
                    stroke-dashoffset: 678;
          stroke-dasharray: 676;
                }
            }
        }
        .numbers {
            text-align: center;
            opacity: 0;
            ul {
                list-style-type: none;
                display: table;
                margin: 0;
                padding: 0;
                margin: 0 auto;
                width: 275px;
                li {
                    display: table-cell;
                    vertical-align: middle;
                    width: 55px;
                    height: 55px;
                    background: transparent;
                    border-radius: 50%;
                    color: #6e6d6d;
                    font-family: 'AvenirNextLTProDemi', arial, sans-serif;
                    font-size: 42px;
                    line-height: 44px;
                    box-sizing: border-box;
                    svg {
                        width: 55px;
                            height: 55px;
                        .st0 {
                            fill: none;
                            width: 55px;
                            height: 55px;
                        }
                        .st1 {
                            fill: #6E6E6D;
                        }
                    }
                }
            }
            #number1 {
                .st1 {
                    width: 17px;
                    height: 31px;
                }
            }
            #number2{
                .st2{
                    width: 23px;
                    height: 31px;
                }
            }
            #number3{
                .st2{
                    width: 24px;
                    height: 32px;
                }
            }
            #number4{
                .st2{
                    width: 25px;
                    height: 30px;
                }
            }
            #number5{
                .st2{
                    width: 23px;
                    height: 31px;
                }
            }
            p {
                font-family: 'AvenirNextLTProDemi', arial, sans-serif;
                font-size: 16px;
                line-height: 20px;
                color: #6e6d6d;
                margin: 10px 0 0 0;
                padding: 0;
            }
        }
        .portfolio {
            margin: 0 auto;
            width: 460px;
            padding-right: 60px;
            .case {
                padding-right: 30px;
                display: inline-block;
                vertical-align: top;
                svg {
                    width: 165px;

                    .st0 {
                        fill: none;
                        stroke: #05A7B5;
                        stroke-width: 4.5431;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-miterlimit: 10;
                        stroke-dashoffset: 600;
                        stroke-dasharray: 599;
                    }
                    .st1 {
                        fill: none;
                        stroke: #6E6E6D;
                        stroke-width: 4.5431;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-miterlimit: 10;
                        stroke-dashoffset: 140;
                        stroke-dasharray: 139;
                    }
                    .st2 {
                        fill: #FFFFFF;
                        stroke: #6E6E6D;
                        stroke-width: 4.5431;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-miterlimit: 10;
                        stroke-dashoffset: 100;
                        stroke-dasharray: 99;
                    }
                }
            }
            .text {
                display: inline-block;
                vertical-align: top;
                opacity: 0;
                transform: scale(0);
                h4 {
                    color: #0ba7b5;
                    font-family: 'AvenirNextLTProDemi', arial, sans-serif;
                    font-size: 22px;
                    line-height: 26px;
                    padding: 20px 0 0 0;
                    margin: 0;
                }
                p {
                    font-family: 'AvenirNextLTProRegular', arial, sans-serif;
                    color: #6e6d6d;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}