/* Import Stylesheets */
/*******************************************/
@font-face {
  font-family: 'AvenirNextLTProBold';
  src: url("../fonts/AvenirNextLTProBold.eot");
  src: url("../fonts/AvenirNextLTProBold.eot") format("embedded-opentype"), url("../fonts/AvenirNextLTProBold.woff2") format("woff2"), url("../fonts/AvenirNextLTProBold.woff") format("woff"), url("../fonts/AvenirNextLTProBold.ttf") format("truetype"), url("../fonts/AvenirNextLTProBold.svg#AvenirNextLTProBold") format("svg"); }

@font-face {
  font-family: 'AvenirNextLTProRegular';
  src: url("../fonts/AvenirNextLTProRegular.eot");
  src: url("../fonts/AvenirNextLTProRegular.eot") format("embedded-opentype"), url("../fonts/AvenirNextLTProRegular.woff2") format("woff2"), url("../fonts/AvenirNextLTProRegular.woff") format("woff"), url("../fonts/AvenirNextLTProRegular.ttf") format("truetype"), url("../fonts/AvenirNextLTProRegular.svg#AvenirNextLTProRegular") format("svg"); }

@font-face {
  font-family: 'AvenirNextLTProDemi';
  src: url("../fonts/AvenirNextLTProDemi.eot");
  src: url("../fonts/AvenirNextLTProDemi.eot") format("embedded-opentype"), url("../fonts/AvenirNextLTProDemi.woff2") format("woff2"), url("../fonts/AvenirNextLTProDemi.woff") format("woff"), url("../fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("../fonts/AvenirNextLTProDemi.svg#AvenirNextLTProDemi") format("svg"); }

/* Variables */
/* Breakpoints */
/* Transition */
/* Border Radius */
/* Pseudo - For "before" and "after" elements */
/* Center Positioning */
/* Triangles */
/* Keyframes */
/* Animation */
/* Breakpoints - For Media Queries */
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333; }

#scalingContainer {
  position: relative;
  width: 620px;
  height: 1380px; }

#resizer {
  position: relative;
  width: 620px;
  height: 1380px;
  transform-origin: top left; }

#outer-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 620px; }

#container {
  height: 1380px;
  border: 1px solid #b6b6b5;
  box-sizing: border-box;
  position: relative; }
  #container h3 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #6e6d6d;
    font-family: 'AvenirNextLTProDemi', arial, sans-serif; }
  #container #step1 {
    position: relative;
    padding: 0 20px; }
    #container #step1 .bulb-wrapper {
      display: inline-block;
      vertical-align: top;
      margin: 0 auto;
      width: 153px;
      height: auto;
      padding-left: 40px; }
      #container #step1 .bulb-wrapper #svg-bulb .filament,
      #container #step1 .bulb-wrapper #svg-bulb .grey,
      #container #step1 .bulb-wrapper #svg-bulb .ray {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round; }
      #container #step1 .bulb-wrapper #svg-bulb .filament,
      #container #step1 .bulb-wrapper #svg-bulb .ray {
        stroke: #05a7b5; }
      #container #step1 .bulb-wrapper #svg-bulb .filament {
        stroke-width: 5.14924px; }
      #container #step1 .bulb-wrapper #svg-bulb .grey {
        stroke: #6e6e6d;
        stroke-width: 4.20217px; }
      #container #step1 .bulb-wrapper #svg-bulb .ray {
        stroke-width: 6px;
        stroke-dashoffset: 36;
        stroke-dasharray: 66; }
    #container #step1 .research-wrapper {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 360px;
      padding-left: 20px; }
      #container #step1 .research-wrapper .text {
        opacity: 0;
        transform: scale(0); }
      #container #step1 .research-wrapper h4 {
        color: #0ba7b5;
        font-family: 'AvenirNextLTProDemi', arial, sans-serif;
        font-size: 22px;
        line-height: 26px;
        padding: 20px 0 0 0;
        margin: 0; }
      #container #step1 .research-wrapper p {
        font-family: 'AvenirNextLTProRegular', arial, sans-serif;
        color: #6e6d6d;
        font-size: 16px;
        line-height: 20px; }
      #container #step1 .research-wrapper .animate {
        position: relative;
        padding-left: 30px; }
        #container #step1 .research-wrapper .animate .bubble {
          position: absolute;
          top: 0;
          left: 80px;
          margin-top: -35px; }
          #container #step1 .research-wrapper .animate .bubble .research {
            background: url("http://hosting.two-uk.com/testing/marc/infographic-test/research-bubble.png") center top;
            background-size: cover;
            margin: 30px auto;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            position: relative;
            width: 130px;
            height: 108px;
            transform: scale(0); }
            #container #step1 .research-wrapper .animate .bubble .research span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              padding-left: 10px; }
      #container #step1 .research-wrapper #line1 {
        width: 50px;
        height: 105px; }
        #container #step1 .research-wrapper #line1 .st0 {
          fill: none;
          stroke: #6E6E6D;
          stroke-width: 4.858;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
          stroke-dashoffset: 105;
          stroke-dasharray: 104; }
        #container #step1 .research-wrapper #line1 .st1 {
          fill: none;
          stroke: #6E6E6D;
          stroke-width: 4.3311;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
          stroke-dashoffset: 69;
          stroke-dasharray: 68; }
  #container #step2 {
    margin-top: 20px; }
    #container #step2 .chart {
      position: relative;
      margin: 0 auto;
      width: 580px;
      height: 580px;
      margin: 0 auto;
      background: #f6f6f6;
      opacity: 0; }
      #container #step2 .chart .arrows-container {
        position: absolute;
        width: 540px;
        height: 540px;
        padding: 0 0px;
        box-sizing: border-box;
        margin: 20px;
        z-index: 1; }
        #container #step2 .chart .arrows-container #arrowsSection {
          width: 540px; }
          #container #step2 .chart .arrows-container #arrowsSection .linehead {
            fill: none;
            stroke: #6E6E6D;
            stroke-width: 4.5899;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 55;
            stroke-dasharray: 54; }
          #container #step2 .chart .arrows-container #arrowsSection .line {
            fill: none;
            stroke: #6E6E6D;
            stroke-width: 4.5899;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 355;
            stroke-dasharray: 354; }
        #container #step2 .chart .arrows-container .arrow-text {
          width: 150px;
          height: 150px;
          position: absolute;
          z-index: 3;
          top: 50%;
          left: 50%;
          margin-left: -75px;
          margin-top: -75px;
          font-family: arial, sans-serif;
          font-size: 18px;
          line-height: 24px;
          color: #0ba7b5;
          font-weight: bold;
          text-align: center;
          background: #fff;
          box-sizing: border-box;
          padding-top: 35px;
          border-radius: 75px;
          opacity: 0; }
        #container #step2 .chart .arrows-container .sections {
          position: absolute;
          z-index: 2;
          width: 380px;
          height: 380px;
          top: 50%;
          left: 50%;
          margin-left: -190px;
          margin-top: -190px; }
          #container #step2 .chart .arrows-container .sections .col {
            display: inline-block;
            width: 190px;
            height: 190px;
            background-size: cover;
            vertical-align: top;
            position: relative;
            color: #fff; }
            #container #step2 .chart .arrows-container .sections .col span {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 110px;
              text-align: center;
              font-size: 14px; }
          #container #step2 .chart .arrows-container .sections .one {
            background: url("/images/section-1.png");
            opacity: 0; }
            #container #step2 .chart .arrows-container .sections .one span {
              margin-top: -20px;
              margin-left: -45px; }
          #container #step2 .chart .arrows-container .sections .two {
            background: url("/images/section-2.png");
            opacity: 0; }
            #container #step2 .chart .arrows-container .sections .two span {
              margin-top: -20px;
              margin-left: -65px; }
          #container #step2 .chart .arrows-container .sections .three {
            background: url("/images/section-3.png");
            opacity: 0; }
            #container #step2 .chart .arrows-container .sections .three span {
              margin-top: -25px;
              margin-left: -45px; }
          #container #step2 .chart .arrows-container .sections .four {
            background: url("/images/section-4.png");
            opacity: 0; }
            #container #step2 .chart .arrows-container .sections .four span {
              margin-top: -25px;
              margin-left: -65px; }
  #container #step3 {
    position: relative;
    margin-top: 20px; }
    #container #step3 .arrow {
      position: absolute; }
    #container #step3 .left {
      left: 30px;
      top: -135px; }
      #container #step3 .left svg {
        width: 105px;
        height: 185px; }
        #container #step3 .left svg .st0 {
          fill: none;
          stroke: #6E6E6D;
          stroke-width: 4.4884;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10; }
        #container #step3 .left svg .arrows {
          stroke-dashoffset: 53;
          stroke-dasharray: 52; }
        #container #step3 .left svg .line {
          stroke-dashoffset: 400;
          stroke-dasharray: 399; }
    #container #step3 .right {
      right: 40px;
      top: 10px; }
      #container #step3 .right svg {
        width: 353px;
        height: 305px; }
        #container #step3 .right svg .st0 {
          fill: none;
          stroke: #6E6E6D;
          stroke-width: 4.8283;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10; }
        #container #step3 .right svg .st0.arrows {
          stroke-dashoffset: 53;
          stroke-dasharray: 52; }
        #container #step3 .right svg .st0.line {
          stroke-dashoffset: 678;
          stroke-dasharray: 676; }
    #container #step3 .numbers {
      text-align: center;
      opacity: 0; }
      #container #step3 .numbers ul {
        list-style-type: none;
        display: table;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        width: 275px; }
        #container #step3 .numbers ul li {
          display: table-cell;
          vertical-align: middle;
          width: 55px;
          height: 55px;
          background: transparent;
          border-radius: 50%;
          color: #6e6d6d;
          font-family: 'AvenirNextLTProDemi', arial, sans-serif;
          font-size: 42px;
          line-height: 44px;
          box-sizing: border-box; }
          #container #step3 .numbers ul li svg {
            width: 55px;
            height: 55px; }
            #container #step3 .numbers ul li svg .st0 {
              fill: none;
              width: 55px;
              height: 55px; }
            #container #step3 .numbers ul li svg .st1 {
              fill: #6E6E6D; }
      #container #step3 .numbers #number1 .st1 {
        width: 17px;
        height: 31px; }
      #container #step3 .numbers #number2 .st2 {
        width: 23px;
        height: 31px; }
      #container #step3 .numbers #number3 .st2 {
        width: 24px;
        height: 32px; }
      #container #step3 .numbers #number4 .st2 {
        width: 25px;
        height: 30px; }
      #container #step3 .numbers #number5 .st2 {
        width: 23px;
        height: 31px; }
      #container #step3 .numbers p {
        font-family: 'AvenirNextLTProDemi', arial, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #6e6d6d;
        margin: 10px 0 0 0;
        padding: 0; }
    #container #step3 .portfolio {
      margin: 0 auto;
      width: 460px;
      padding-right: 60px; }
      #container #step3 .portfolio .case {
        padding-right: 30px;
        display: inline-block;
        vertical-align: top; }
        #container #step3 .portfolio .case svg {
          width: 165px; }
          #container #step3 .portfolio .case svg .st0 {
            fill: none;
            stroke: #05A7B5;
            stroke-width: 4.5431;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 600;
            stroke-dasharray: 599; }
          #container #step3 .portfolio .case svg .st1 {
            fill: none;
            stroke: #6E6E6D;
            stroke-width: 4.5431;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 140;
            stroke-dasharray: 139; }
          #container #step3 .portfolio .case svg .st2 {
            fill: #FFFFFF;
            stroke: #6E6E6D;
            stroke-width: 4.5431;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 100;
            stroke-dasharray: 99; }
      #container #step3 .portfolio .text {
        display: inline-block;
        vertical-align: top;
        opacity: 0;
        transform: scale(0); }
        #container #step3 .portfolio .text h4 {
          color: #0ba7b5;
          font-family: 'AvenirNextLTProDemi', arial, sans-serif;
          font-size: 22px;
          line-height: 26px;
          padding: 20px 0 0 0;
          margin: 0; }
        #container #step3 .portfolio .text p {
          font-family: 'AvenirNextLTProRegular', arial, sans-serif;
          color: #6e6d6d;
          font-size: 16px;
          line-height: 20px; }
